{% set lang = craft.app.language|replace('_','-') %}
{% set metaTitle = entry.metaTitle is defined and entry.metaTitle ? entry.metaTitle : metaTitle ?? entry.title ?? siteName ?? null %}
{% set metaDescription = entry.metaDescription is defined and entry.metaDescription ? entry.metaDescription : metaDescription ?? null %}

{% set cookieConsent = craft.cookies.get('cookie_consent') == 'true' ? true : false %}

<!doctype html>
<html lang="{{ lang }}" class="no-js {{ craft.cookies.get('fonts-loaded') ? 'fonts-loaded' }}">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% if craft.app.config.general.devMode %}Dev - {% endif %}{{ metaTitle }}</title>

		{% if metaDescription %}
			<meta name="description" content="{{ metaDescription }}">
		{% endif %}

		<link rel="stylesheet" href="{{ rev('/assets/styles/main.css') }}">

		{# Replace no-js class with js #}
		<script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';</script>
	</head>

	<body>
		<a href="#content" class="c-skip-link">Skip to main content</a>

		<div id="site">
			{% block layout %}
				<p><code>{% verbatim %}{% block layout %}{% endblock %}{% endverbatim %}</code> not set.</p>
			{% endblock %}
		</div>

		{# Scripts #}
		{% set polyfills = [
			'Element.prototype.classList'
		] %}

		{% set minified = craft.app.config.general.devMode ? '.min' %}

		<script defer src="https://cdn.polyfill.io/v2/polyfill{{ minified }}.js?features={{ polyfills|join(',') }}"></script>
		<script defer src="{{ rev('/assets/scripts/main.js') }}"></script>

		{% include "_layouts/includes/analytics" %}
	</body>
</html>
