{% set lang = craft.app.language|replace('_','-') %}
{% set metaTitle = entry.metaTitle is defined and entry.metaTitle ? entry.metaTitle : metaTitle ?? entry.title ?? siteName ?? null %}
{% set metaDescription = entry.metaDescription is defined and entry.metaDescription ? entry.metaDescription : metaDescription ?? null %}

{% set cookieConsent = craft.cookies.get('cookie_consent') == 'true' ? true : false %}

<!doctype html>
<html lang="{{ lang }}" class="no-js {{ craft.cookies.get('fonts-loaded') ? 'fonts-loaded' }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% if craft.app.config.general.devMode %}Dev - {% endif %}{{ metaTitle }}</title>

		{% if metaDescription %}
			<meta name="description" content="{{ metaDescription }}">
		{% endif %}

		<link rel="stylesheet" href="{{ rev('/assets/styles/main.css') }}">

		{# Replace no-js class with js #}
		<script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';</script>
	</head>

	<body>
		<div id="site">
			<a href="#content" class="c-skip-link">Skip to main content</a>

			{% block layout %}
				<p><code>{% verbatim %}{% block layout %}{% endblock %}{% endverbatim %}</code> not set.</p>
			{% endblock %}
		</div>

		{# Scripts #}
		{% set polyfills = [
			'Promise',
			'IntersectionObserver',
			'Element.prototype.classList',
		] %}

		<script defer src="https://cdn.polyfill.io/v2/polyfill.js?features={{ polyfills|join(',') }}"></script>
		<script defer src="{{ rev('/assets/scripts/main.js') }}"></script>

		{% if not craft.app.config.general.devMode and not craft.request.isLivePreview %}
			{# Google Analytics - https://analytics.google.com #}
			{% if config.googleAnalyticsId %}
				<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1483267-3"></script>
				<script>
					window.dataLayer = window.dataLayer || [];
					function gtag(){dataLayer.push(arguments);}
					gtag('js', new Date());

					gtag('config', '{{ config.googleAnalyticsId }}');
				</script>
			{% endif %}

			{# Hotjar - https://insights.hotjar.com #}
			{% if config.hotjarId %}
				<script>
					(function(h,o,t,j,a,r){
					h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
					h._hjSettings={hjid:{{ config.hotjarId }},hjsv:5};
					a=o.getElementsByTagName('head')[0];
					r=o.createElement('script');r.async=1;
					r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
					a.appendChild(r);
					})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
				</script>
			{% endif %}
		{% endif %}
	</body>
</html>
